{% extends "base/base.html" %}
{% load static %}

{% block content %}
    <div class="row m-0">
        <div class="col text-white">
            <h3 class="text-center text-danger">Обучение</h3>

            <div class="mx-auto border border-2 border-danger rounded p-3 my-4" style="width: 80vw">
                <p>
                    Здесь представлена теория о методах стеганографии. <br>
                    После прочтения обучения Вы сможете решить некоторые базовые задачи,
                    но для того, чтобы полностью разбираться в этой теме,
                    надо изучить другие источники информации.
                </p>
                <h5 class="text-danger">Что такое стеганография</h5>
                <p>
                    Стеганография - это наука о скрытой передаче информации, путём сохранения
                    в тайне самого факта передачи. Стеганография и криптография это не одно и тоже,
                    хотя они часто используются вместе. Цель криптографии – сделать так,
                    чтобы без ключа невозможно было прочитать сообщение, а цель стеганографии –
                    чтобы никто из посторонних не смог увидеть это сообщение.
                </p>
                <h5 class="text-danger">Методы</h5>
                <p>
                    <strong>1</strong> <br>
                    Начнём с самого простого. Иногда, для того, чтобы спрятать текст в картинку,
                    достаточно одного только Paint'а. Важно, чтобы изображение (или его участок)
                    было однотонным. Надо создать новый цвет, очень похожий на тот, который на картинке.
                    Остаётся только написать новым цветом поверх старого. Чтобы посмотреть написанный текст,
                    надо залить изображение (или однотонный участок) контрастным цветом.
                </p>
                <div class="d-flex justify-content-evenly my-1">
                    <img height="300vh" src="{% static 'images/education/1.jpg' %}" title="Картинка с текстом до заливки" alt="Картинка с текстом до заливки">
                    <img height="300vh" src="{% static 'images/education/2.jpg' %}" title="Картинка с текстом после заливки" alt="Картинка с текстом после заливки">
                </div>
                <p>
                    <strong>2</strong> <br>
                    Метод «<span class="text-decoration-underline">встраивания в заголовок</span>»,
                    использующий особенности форматов данных. В чём заключается его идея?
                    В области памяти компьютера всегда есть зарезервированные байты.
                    Это могут быть, например, байты между заголовком и наполнением файла,
                    которые всегда пустые (заполнены 0-ми). В заголовках файлов есть байты,
                    которые очень редко используются, или такие байты, при изменении которых
                    пользователь не заметит разницы. Пример строения bmp файла.
                    Первые 14 байт – заголовок файла (выделен синим). В него входят тип файла,
                    его размер и зарезервированные байты.
                </p>
                <div class="d-flex justify-content-center my-1">
                    <img height="400vh" src="{% static 'images/education/3.jpg' %}" title="Заголовок .bmp" alt="Заголовок .bmp">
                </div>
                <p>
                    Потом идёт заголовок растровой информации – 40 байт (в основном).
                    В него входят такие данные, как размер изображения (высота и ширина),
                    количество пикселей, тип сжатия, разрешение (горизонтальное и вертикальное),
                    число цветовых индексов, размер информационного заголовка.
                </p>
                <div class="d-flex justify-content-center my-1">
                    <img height="400vh" src="{% static 'images/education/4.jpg' %}" title="Заголовок растровой информации" alt="Заголовок растровой информации">
                </div>
                <p>
                    Дальше идёт цветовая палитра и растровые данные, но они нам сейчас
                    не нужны. Можно записывать текст в байты с шестого по девятый, но
                    тогда длина входного текста будет очень маленькой. Поэтому лучше
                    записывать текст в байты с 22 по 40. Надо открыть картинку при помощи
                    текстового редактора и вписать текст в нужное место, удалив при этом
                    байты, на место которых вписан текст. Если изменить эти биты, то
                    изображение всё также будет открываться и нормально работать, и человек
                    не заметит никаких изменений в картинке. Но у этого метода есть минус –
                    его очень просто обнаружить. Я записал в изображение слово «text». Если
                    открыть его любым текстовым редактором, то это слово можно спокойно увидеть.
                </p>
                <div class="d-flex justify-content-center my-1">
                    <img height="300vh" src="{% static 'images/education/5.jpg' %}" title="Результат встраивания в заголовок" alt="Результат встраивания в заголовок">
                </div>
                <p>
                    Но далеко не каждый человек будет каждый раз открывать изображение в
                    текстовом редакторе, чтобы проверить, нет ли в нём скрытой информации.
                    При использовании метода «встраивания в заголовок» ставка делается как
                    раз на это.
                </p>
                <p>
                    <strong>3</strong> <br>
                    Метод «<span class="text-decoration-underline">lsb</span>» (least significant bit).
                    Этот метод гораздо надёжнее, чем встраивание в заголовок, но его
                    реализация требует больше усилий. Сообщение теперь будет встраиваться
                    не в заголовок файла, а в блок, где закодированы пиксели. Каждую букву
                    сообщения можно представить в виде 8-ми бит, каждый пиксель – один байт,
                    следовательно, пиксель тоже можно представить в виде 8-ми бит.
                    Теперь нам надо вставить часть буквы в изображение. В каждый пиксель
                    мы вставим по одному биту нашего текста. Но какой бит менять? Так
                    как каждый цвет – это какое-то число, то его можно изменить. Если в этом
                    числе менять старшие разряды, то оно будет сильнее отличаться от
                    оригинала, а если младшие, то наоборот, поэтому в пикселе надо менять
                    последний бит. Человеческий глаз может различать около 10-ти миллионов
                    цветов, а компьютер может закодировать около 16-ти миллионов цветов,
                    поэтому, изменив последний бит в пикселе человек не сможет заметить
                    такой маленькой разницы.
                </p>
                <div class="d-flex justify-content-center my-1">
                    <img height="600vh" src="{% static 'images/education/6.jpg' %}" title="Пример наименее значимых битов" alt="Пример наименее значимых битов">
                </div>
                <p>
                    Этот метод невозможно обнаружить с помощью текстового редактора, в отличие от
                    предыдущего метода. Его можно обнаружить только перебором комбинаций последних битов,
                    поэтому метод lsb считается самым популярным. Для реализации этого метода надо сначала
                    представить текст в виде бит. Потом изменять значения последних бит картинки на биты
                    текста. Сложность алгоритма – линейная. Этот метод можно ещё усложнить, чтобы прочитать
                    сообщение было ещё сложнее. Текст можно зашифровать. Хоть стеганография и криптография
                    – разные науки, они часто используются вместе. Даже если человек сможет найти
                    спрятанный текст, ему придётся его расшифровать. Ещё можно выбрать бит, начиная с
                    которого будет происходить запись текста, например, записывать с середины изображения.
                    Также можно придумать алгоритм записи битов, например, записывать биты через один. В
                    общем, вариантов можно придумать бесконечно много, и все они будут усложнять получение
                    скрытого текста.
                </p>
                <div class="d-flex justify-content-center my-1">
                    <img height="400vh" src="{% static 'images/education/7.jpg' %}" title="Результат lsb в текстовом редакторе" alt="Результат lsb в текстовом редакторе">
                </div>
                <p>
                    Ссылка на <a class="link-danger" href="https://github.com/Timur1414/steganography.git" target="_blank">программу</a>,
                    написанную на с++, чтобы проще было разобраться в реализации методов
                    встраивания в заголовок и lsb.
                </p>
            </div>
        </div>
    </div>
{% endblock %}