<div class="card border-0 bg-dark m-5">
    <div class="card-header p-3" style="background-color: #1E0400">
        <strong>Созданные задачи</strong>
    </div>
    <div class="card-body px-5">
        {% for item in created_tasks %}
            {% include "pages/profile/task_card.html" %}
        {% empty %}
            <p>Пользователь ещё не создал ни одной задачи</p>
        {% endfor %}
        {% if count_of_created_tasks > 5 %}
            <a class="link-danger" href="{% url 'created_tasks' pk=user.id %}">Смотреть все</a>
        {% endif %}
    </div>
</div>
