<div class="accordion accordion-flush m-5" id="accordionPanelsStayOpenExample">
    <div data-augmented-ui="tl-clip inlay" class="accordion-item text-white bg-dark rounded-top">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button rounded-top text-white bg-primary bg-secondary bg-gradient shadow" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                <strong>История</strong>
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body px-5">
                {% for item in tasks_to_history %}
                    {% include "pages/profile/task_card.html" %}
                {% empty %}
                    <p>Вы ещё не решили ни одной задачи</p>
                {% endfor %}
                {% if count_of_tasks_to_history > 5 %}
                    <a class="link-danger mt-3" href="{% url 'history' %}">Смотреть все</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div data-augmented-ui="bl-clip inlay" class="accordion-item text-white bg-dark rounded-bottom">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed rounded-bottom text-white bg-secondary shadow" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                <strong>Мои задачи</strong>
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body px-5">
                {% for item in created_tasks %}
                    {% include "pages/profile/task_card.html" %}
                {% empty %}
                    <p>Вы ещё не создали ни одной задачи</p>
                {% endfor %}
                {% if count_of_created_tasks > 5 %}
                    <a class="link-danger" href="{% url 'created_tasks' pk=user.id %}">Смотреть все</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
