{% extends 'base/base.html' %}

{% block content %}
    <div class="row m-0">
        <div class="col text-white">

            {% include "pages/profile/people_card.html" %}
            {% if request.user == user %}
                <a class="btn btn-primary" href="{% url 'profile_settings' %}" style="position:absolute; right: 5vw; top: 0">Настройки</a>
                <a class="btn btn-primary" href="{% url 'create_task' %}" style="position:absolute; right: 5vw; top: 10vh">Создать задачу</a>
                <a class="btn btn-primary" href="{% url 'education' %}" style="position:absolute; right: 5vw; top: 20vh">Обучение</a>
            {% include "pages/profile/suggestion_task.html" %}
                {% include "pages/profile/history_and_my_tasks.html" %}
            {% else %}
                {% include "pages/profile/created_tasks.html" %}
            {% endif %}

        </div>
    </div>
{% endblock %}
