<a class="text-decoration-none" href="{% url 'task' pk=suggestion_task.id %}">
    <div data-augmented-ui="tl-2-clip-y tr-2-round-inset br-clip border" class="border border-0 my-5 mx-auto pb-3 text-danger bg-gradient"
         style="background-color: #38046C; width: 50vw; height: 40vh">
        <div class="card-header text-center bg-dark text-danger bg-gradient py-2 shadow-lg">
            <strong>{{ suggestion_task.title }}</strong>
            <p class="text-white m-0 p-0">Автор: <strong>{{ suggestion_task.author }}</strong></p>
        </div>
        <div class="card-body text-white text-break p-3" style="overflow: hidden">
            {{ suggestion_task.description }}
        </div>
    </div>
</a>