{% extends "base/base.html" %}
{% load static %}

{% block content %}
    <input id="task_id" type="hidden" value="{{ task.id }}">
    <div class="row m-0">
        <div class="col text-white">
            {% include "pages/tasks/task_header.html" %}
            {% include "pages/tasks/task_main.html" %}
            {% include "pages/tasks/task_footer.html" %}
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/task/main.js' %}"></script>
{% endblock %}