{% extends "base/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row m-0">
        <div class="col">
            <form class="text-white" action="." method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                {{ settings_form | crispy }}

                <div class="row mt-4">
                    <div class="col">
                        <a class="btn btn-secondary" href="{% url 'password_change' %}">Смена пароля</a>
                    </div>
                    <div class="col d-grid gap-2 d-md-flex justify-content-md-end">
                        <input type="submit" class="btn btn-primary" value="Сохранить">
                        <a style="text-align: right;" href="{% url 'profile' pk=request.user.id %}" class="btn btn-danger">Не сохранять</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}