{% extends 'base/base.html' %}

{% block content %}
    <div class="text-center text-danger">
        <h1>ТРЕНИРУЙСЯ</h1>
        <h1>УЧИСЬ</h1>
        <H1>СОВЕРШЕНСТВУЙСЯ</H1>
        <h1>ПОБЕЖДАЙ</h1>
        <p class="text-white fs-4">всё это на платформе STEGO</p>
    </div>
    <a data-augmented-ui="tl-clip br-rect border" class="btn btn-warning rounded-0 position-relative text-warning" href="{% url 'django_registration_register' %}" style="left: 25%; width: 50%">
        <strong class="text-dark fs-4">Зарегистрироваться</strong>
    </a>

    <br><br><br>

    <div data-augmented-ui="tl-clip tr-clip-x br-2-clip-x border" class="card mx-auto my-5 border-0 shadow-lg text-info" style="width: 50%">
        <div class="card-header text-white bg-gradient" style="background-color: #7A14A6">
            <h5>Оттачивайте навыки</h5>
        </div>
        <div class="card-body bg-danger bg-gradient">
            <span class="text-dark">Решайте задачи по стеганографии разного уровня сложности и разной категории</span> <br>
            <a class="btn btn-dark mt-2" href="{% url 'django_registration_register' %}">
                Зарегистрироваться
            </a>
        </div>
    </div>

    <div data-augmented-ui="tl-clip tr-clip-x br-2-clip-x border" class="card mx-auto my-5 border-0 shadow-lg text-info" style="width: 50%">
        <div class="card-header text-white bg-gradient" style="background-color: #7A14A6">
            <h5>Изучите стеганографию</h5>
        </div>
        <div class="card-body bg-danger bg-gradient">
            <span class="text-dark">Даже если Вы не знаете, что такое стеганография, Вам всё равно будет чем заняться:
                на сайте присутствует обучение, которое поможет Вам изучить основы этой науки и
                начать решать простые задачи</span> <br>
            <a class="btn btn-dark mt-2" href="{% url 'django_registration_register' %}">
                Зарегистрироваться
            </a>
        </div>
    </div>

    <div data-augmented-ui="tl-clip tr-clip-x br-2-clip-x border" class="card mx-auto my-5 border-0 shadow-lg text-info" style="width: 50%">
        <div class="card-header text-white bg-gradient" style="background-color: #7A14A6">
            <h5>Создавайте свои задачи</h5>
        </div>
        <div class="card-body bg-danger bg-gradient">
            <span class="text-dark">Уже профи в стеганографии? Тогда можете создавать свои задачи.
                Помогайте новичкам. Участвуйте в событиях</span> <br>
            <a class="btn btn-dark mt-2" href="{% url 'django_registration_register' %}">
                Зарегистрироваться
            </a>
        </div>
    </div>

    <div data-augmented-ui="tl-clip tr-clip-x br-2-clip-x border" class="card mx-auto my-5 border-0 shadow-lg text-info" style="width: 50%">
        <div class="card-header text-white bg-gradient" style="background-color: #7A14A6">
            <h5>Побеждайте</h5>
        </div>
        <div class="card-body bg-danger bg-gradient">
            <span class="text-dark">Получайте очки за выполнение задач и возглавьте таблицу лидеров</span> <br>
            <a class="btn btn-dark mt-2" href="{% url 'django_registration_register' %}">
                Зарегистрироваться
            </a>
        </div>
    </div>
{% endblock %}
