{% extends 'base/base.html' %}

{% block content %}
    <div class="text-center text-danger">
        <h1>ТРЕНИРУЙСЯ</h1>
        <h1>УЧИСЬ</h1>
        <H1>СОВЕРШЕНСТВУЙСЯ</H1>
        <h1>ПОБЕЖДАЙ</h1>
        <p class="text-white fs-4">всё это на платформе STEGO</p>
    </div>
    <a class="btn btn-success position-relative" href="{% url 'django_registration_register' %}" style="left: 25%; width: 50%">
        Зарегистрироваться
    </a>
    <br><br><br>

    <div class="card mx-auto my-5 border-0" style="width: 50%">
        <div class="card-header text-white" style="background-color: #1E0400">
            <h5>Оттачивайте навыки</h5>
        </div>
        <div class="card-body bg-danger">
            Решайте задачи по стеганографии разного уровня сложности и разной категории <br>
            <a class="btn btn-success mt-2" href="{% url 'django_registration_register' %}">
                Зарегистрироваться
            </a>
        </div>
    </div>

    <div class="card mx-auto my-5" style="width: 50%">
        <div class="card-header">
            Lorem ipsum
        </div>
        <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Venenatis urna cursus eget nunc
            scelerisque viverra mauris in. Amet volutpat consequat mauris nunc congue nisi.
        </div>
    </div>

    <div class="card mx-auto my-5" style="width: 50%">
        <div class="card-header">
            Lorem ipsum
        </div>
        <div class="card-body">
            Fames ac turpis egestas maecenas pharetra convallis posuere morbi leo.
            Odio ut enim blandit volutpat maecenas volutpat.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Dui ut ornare lectus sit amet est
            placerat. Sed cras ornare arcu dui vivamus arcu. Ac tortor vitae purus faucibus
            ornare suspendisse sed nisi lacus. Facilisi morbi tempus iaculis urna id volutpat.
            Congue quisque egestas diam in arcu cursus. A diam sollicitudin tempor id eu nisl.
            Tortor at auctor urna nunc id cursus metus aliquam eleifend. Facilisis leo vel
            fringilla est ullamcorper. Pellentesque massa placerat duis ultricies lacus sed.
            Enim ut tellus elementum sagittis vitae et leo. Tortor vitae purus faucibus ornare
            suspendisse sed. Donec et odio pellentesque diam volutpat commodo sed egestas.
            Urna neque viverra justo nec ultrices.
            Lacus luctus accumsan tortor posuere ac ut. Ultricies integer quis auctor elit
            sed vulputate mi sit. Quis lectus nulla at volutpat diam ut venenatis tellus in.
            In nisl nisi scelerisque eu ultrices vitae auctor eu augue. Quam viverra orci
            sagittis eu. Porttitor rhoncus dolor purus non enim praesent. Mauris sit amet
            massa vitae tortor condimentum. Amet volutpat consequat mauris nunc congue.
            Integer enim neque volutpat ac tincidunt vitae. Congue eu consequat ac felis.
            Imperdiet sed euismod nisi porta. Nec tincidunt praesent semper feugiat nibh sed
            pulvinar proin. Enim eu turpis egestas pretium aenean pharetra magna ac. Arcu ac
            tortor dignissim convallis aenean et tortor at. Fermentum dui faucibus in ornare.
        </div>
    </div>
{% endblock %}
