<div class="row p-2 m-0">
    <div class="col p-0">
        <a class="fs-1 text-danger text-decoration-none" href="{% url 'index' %}">Stego</a>
    </div>
    <div class="col d-flex justify-content-end p-0">
        <a class="btn btn-primary mx-1 my-auto" href="{% url 'logout' %}">Выйти</a>
        <a class="btn btn-danger mx-1 my-auto" href="{% url 'profile' pk=request.user.id %}">Профиль</a>
        <a class="btn btn-success mx-1 my-auto" href="{% url 'task_list' %}">Задачи</a>
        {% if request.user.is_staff %}
            <a class="btn btn-success mx-1 my-auto" href="{% url 'complaint_list' %}">Жалобы</a>
        {% endif %}
    </div>
</div>
