<div class="row p-2 m-0">
    <div class="col p-0">
        <a class="fs-1 text-danger text-decoration-none" href="{% url 'index' %}">Stego</a>
    </div>
    <div class="col d-flex justify-content-end p-0">
        <a data-augmented-ui="tl-clip br-clip" class="btn btn-primary mx-1 my-auto rounded-0" href="{% url 'login' %}">Войти</a>
        <a data-augmented-ui="tl-clip br-clip" class="btn btn-secondary mx-1 my-auto rounded-0" href="{% url 'django_registration_register' %}">Зарегистрироваться</a>
    </div>
</div>
